@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;900&family=Open+Sans:wght@300&family=Roboto:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Encode Sans Expanded', sans-serif;
  background-color: #010606;
  scrollbar-width: thin;
  scrollbar-color: #ac94f4 #010606;
}

::-webkit-scrollbar-thumb {
  background-color: #ac94f4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #010606;
}

::-webkit-scrollbar {
  background: #010606;
  width: 8px;
}

/* * {
  border: 1px solid red;
} */
.main-content {
  padding-top: 80px;
}

.embed-responsive-item {
  height: 100%;
}

.directive {
  font-size: 2rem;
  color: #354f80;
  margin-left: 4rem;
  margin-bottom: 3.5rem;
  text-align: center;

  @media (max-width: 1500px) {
    display: inline;
  }

  @media (max-width: 1100px) {
    display: inline;
  }

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: none;
  }

  @media (max-width: 430px) {
    display: none;
  }
}

.arrow-icon {
  width: "42px";
  height: "42px";
  marginLeft: "20px";
  color: #354f80;

  @media (max-width: 1500px) {
    display: inline;
  }

  @media (max-width: 1100px) {
    display: inline;
  }

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 480px) {
    display: none;
  }

  @media (max-width: 430px) {
    display: none;
  }
}

.small-text {
  font-size: 12px;
}


