/* src/styles/global.css */
@font-face {
    font-family: 'Arthemis-PKY27';
    src: url('/fonts/Arthemis-PKY27.woff2') format('woff2'),
         url('/fonts/Arthemis-PKY27.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Tailwind utility for animation */
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
/* src/components/navbar/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.navbar button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



