@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@font-face {
    font-family: 'Arthemis-PKY27';
    src: url('/fonts/Arthemis-PKY27.woff2') format('woff2'),
         url('/fonts/Arthemis-PKY27.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Tailwind utility for animation */
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .embed-responsive-item {
    height: 600px;
  }

  .shooter {
    border-radius: 50%;
  }




